.alert {
    position: fixed;
    bottom: 50px;
    right: 50px;
    max-width: 100%;
    width: 350px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    min-height: 70px;
}

.content {
    padding: 8px;
    p {
        margin: 0;
    }
}

.closer {
    background: blueviolet;
    color: #fff;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    cursor: pointer;
}